.red{
    background-color: red;
    height: 100px;
    width: 100px;
}
.blue{
    background-color: blue;
    height: 100px;
    width: 100px;
}

.yellow{
    background-color: yellow;
    height: 100px;
    width: 100px;
}