body{
    background-color:black;
}

.top-container{
    background-color: blue;
    height: 200px;
    width: 200px;
    border: ridge 10px coral;
    margin: 20px;
}
.middle-container{
    background-color: red;
    height: 200px;
    width: 200px;
    border: ridge 10px black;
    margin-left: 240px;
}

.bottom-container{
    background-color: blue;
    height: 200px;
    width: 200px;
    border: ridge 10px rgb(19, 224, 64);
    margin-left: 460px;
}

.moha{
    text-decoration: underline;
}

